<AuthorizeView Policy="Admin">
    <a href="/AdminApproval" class="login-link">
        Admin
    </a>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <a href="Profile" class="login-link">Profile</a>
        <a href="MicrosoftIdentity/Account/SignOut" class="login-link">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="login-link">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>